:root {
    --menu-height: 15%;
    --font-very-big: 40px;
    --font-big: 28px;
    --font-medium: 22px;
    --font-small: 18px;
    --font-very-small: 16px;
    --main-height: calc(100% - var(--menu-height));
}

body {
    background-color: #ffffff;
    color: #383838;
    font-family: monospace;
    font-size: var(--font-big);
    font-weight: bold;
}

/* MENU */

#rectangle-menu {
    position: absolute;
    width: 100%;
    height: var(--menu-height);
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

#logo-div {
    position: absolute;
    width: 20%;
    height: 50%;

    left: 40%;
    top: 12.5%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#mode-text-h1 {
    position: absolute;
    width: 100%;

    bottom: 5%;
    text-align: center;
    font-size: var(--font-big);
}

/* BUTTONS */

#button-div {
    position: absolute;
    width: 40%;
    height: 50%;

    left: 2.5%;
    top: 25%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-button {
    width: 17%;
    height: 75%;

    font-family: monospace;
    font-size: var(--font-small);
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    border-radius: 10px;
    transition: .3s;
    margin-inline: 3%;
}

#menu-button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

/* RECTANGLE MAIN */

#rectangle-main {
    position: absolute;
    width: 100%;
    height: var(--main-height);

    top: var(--menu-height);
    left: 0;

    font-size: var(--font-medium);
    box-sizing: border-box;
}
