@import "turnkey.css";

:root {
    --menu-height: 15%;
    --font-very-big: 40px;
    --font-big: 28px;
    --font-medium: 22px;
    --font-small: 18px;
    --font-very-small: 16px;
    --main-height: calc(100% - var(--menu-height));
}

body {
    background-color: #ffffff;
    color: #383838;
    font-family: monospace;
    font-size: var(--font-big);
    font-weight: bold;
}

body::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    content: "";
    background: url("media-2/background.png");
    opacity: 0.02;
    background-size: 100% 100%;
}

.disclaimer-div {
    position: absolute;
    left: 1%;
    bottom: 2%;
    width: 7%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.disclaimer-img {
    height: 65%;
}

/* MENU */

.rectangle-menu {
    position: absolute;
    width: 100%;
    height: var(--menu-height);
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.logo-div {
    position: absolute;
    width: 10%;
    height: 100%;

    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-div-img {
    height: 45%;
}

.mode-text-h1 {
    position: absolute;
    width: 100%;

    bottom: 5%;
    text-align: center;
    font-size: var(--font-big);
}

/* BUTTONS */

.button-div {
    position: absolute;
    width: 35%;
    height: 50%;

    left: 2.5%;
    top: 25%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button {
    width: 17%;
    height: 75%;

    font-family: monospace;
    font-size: var(--font-small);
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    border-radius: 10px;
    transition: .3s;
    margin-inline: 3%;
}

.menu-button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

/* RECTANGLE MAIN */

.rectangle-main {
    position: absolute;
    width: 100%;
    height: var(--main-height);

    top: var(--menu-height);
    left: 0;

    font-size: var(--font-medium);
    box-sizing: border-box;
}

/* GRAPHICS */
.graphics-div {
    position: absolute;
    width: 10%;
    height: 80%;

    left: 45%;

    display: flex;
    align-items: center;
    justify-content: center;
}
