<div id="rectangle-menu">
    <div id="button-div">
{#        <button id="menu-button" type="submit" onclick="redirect_func('/')">#}
{#            <strong>Menu</strong>#}
{#        </button>#}
{##}
{#        <button id="menu-button" type="submit" onclick="redirect_func('/generator')">#}
{#            <strong>Generator</strong>#}
{#        </button>#}
{##}
{#        <button id="menu-button" type="submit" onclick="redirect_func('/ai')">#}
{#            <strong>AI</strong>#}
{#        </button>#}
{##}
{#        <button id="menu-button" type="submit" onclick="redirect_func('/test')">#}
{#            <strong>Test</strong>#}
{#        </button>#}

        <button class="cta" type="submit" onclick="redirect_func('/')">
          <span>Menu</span>
          <svg viewBox="0 0 13 10" height="10px" width="15px">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </button>

        <button class="cta" type="submit" onclick="redirect_func('/generator')">
          <span>Generator</span>
          <svg viewBox="0 0 13 10" height="10px" width="15px">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </button>

        <button class="cta" type="submit" onclick="redirect_func('/ai')">
          <span>AI</span>
          <svg viewBox="0 0 13 10" height="10px" width="15px">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </button>

        <button class="cta" type="submit" onclick="redirect_func('/test')">
          <span>Test</span>
          <svg viewBox="0 0 13 10" height="10px" width="15px">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </button>
    </div>

    <div id="graphics-div">
        <div class="loader">
            <svg viewBox="0 0 80 80">
                <circle id="test" cx="40" cy="40" r="32"></circle>
            </svg>
        </div>

        <div class="loader triangle">
            <svg viewBox="0 0 86 80">
                <polygon points="43 8 79 72 7 72"></polygon>
            </svg>
        </div>

        <div class="loader">
            <svg viewBox="0 0 80 80">
                <rect x="8" y="8" width="64" height="64"></rect>
            </svg>
        </div>
    </div>

    <div>
        <h1 id="mode-text-h1">
            Poker
{#            {{ mode }}#}
        </h1>
    </div>

    <div id="logo-div">
        <img src="../../static/media-2/cards.png" alt="LOGO" height="70%">
    </div>
</div>
