<div id="rectangle-menu">
    <div id="logo-div">
        <img src="../../static/media/cards.png" alt="LOGO" height="100%">
    </div>

    <div id="mode-text-div">
        <h1>
            {{ mode }}
        </h1>
    </div>

    <div id="button-div">
        <button type="submit" onclick="redirect_func('/')">
            <strong>Menu</strong>
        </button>

        <button type="submit" onclick="redirect_func('/generator')">
            <strong>Generator Mode</strong>
        </button>

        <button type="submit" onclick="redirect_func('/')">
            <strong>Mode 2</strong>
        </button>

        <button type="submit" onclick="redirect_func('/')">
            <strong>Mode 3</strong>
        </button>
    </div>
</div>
