<div id="rectangle-menu">
    <div id="logo-div">
        <img src="../../static/media/cards.png" alt="LOGO" height="100%">
    </div>

    <div>
        <h1 id="mode-text-h1">
            {{ mode }}
        </h1>
    </div>

    <div id="button-div">
        <button id="menu-button" type="submit" onclick="redirect_func('/')">
            <strong>Menu</strong>
        </button>

        <button id="menu-button" type="submit" onclick="redirect_func('/generator')">
            <strong>Generator</strong>
        </button>

        <button id="menu-button" type="submit" onclick="redirect_func('/ai')">
            <strong>AI</strong>
        </button>

        <button id="menu-button" type="submit" onclick="redirect_func('/test')">
            <strong>Test</strong>
        </button>
    </div>
</div>
