<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'pages-css/index.css' %}">

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Poker</title>
    </head>

    <body>
        {% include "sections/header.html" %}

        <main class="rectangle-main">
            <div class="main-div">
                <div class="main-text">
                    Hello! I am poker win predictions calculator with UI and AI vision. I have three basic modes:<br>
                    <br>
                    1) <i>Generator</i> - generate random game with win chances predictions<br>
                    <br>
                    2) <i>Predictor</i> - enter several cards and get automatically predictions for the game<br>
                    <br>
                    3) <i>Visor</i> - enter image with playing cards and AI vision will detect cards on that image<br>
                    <br>
                    Have fun!
                </div>
            </div>
        </main>

        {% include "sections/footer.html" with mode="index" %}
        {% include "sections/scripts.html" %}
    </body>
</html>
