<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'index.css' %}">

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Poker</title>
    </head>

    <body>
        {% include "sections/menu.html" with mode="Main Menu" %}

        <div id="rectangle-main">
            <div id="main-text">
                Main menu
            </div>
        </div>

        {% include "sections/scripts.html" %}
    </body>
</html>
