<div id="rectangle-menu">
    <div id="logo-div">
        LOGO
    </div>

    <div id="button-div">
        <button type="submit" onclick="redirect_func('/')">
            <strong>Menu</strong>
        </button>

        <button type="submit" onclick="redirect_func('/generator')">
            <strong>Generator Mode</strong>
        </button>

        <button type="submit" onclick="redirect_func('/')">
            <strong>Mode 2</strong>
        </button>

        <button type="submit" onclick="redirect_func('/')">
            <strong>Mode 3</strong>
        </button>
    </div>
</div>
