<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'pages-css/predictor.css' %}">

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Poker</title>
    </head>

    <body>
        {% include "sections/header.html" %}

        <main class="rectangle-main">
            <div class="skip"></div>

            <div class="players">
                {% include "sections/prediction_actor.html" with actor="player" players_length="12" cards_length="12" %}
            </div>

            {% include "sections/prediction_actor.html" with actor="dealer" players_length="1" cards_length="12345" %}
        </main>

        {% include "sections/footer.html" with mode="predictor" %}
        {% include "sections/scripts.html" %}
    </body>
</html>
