<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'pages-css/visor.css' %}">

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Poker</title>
    </head>

    <body>
        {% include "sections/header.html" %}

        <main class="rectangle-main">
            <div class="main-text">
                Visor
            </div>
        </main>

        {% include "sections/footer.html" with mode="visor" %}
        {% include "sections/scripts.html" %}
    </body>
</html>
