<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'pages-css/visor.css' %}">

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Poker</title>
    </head>

    <body>
        {% include "sections/header.html" %}

        <main class="rectangle-main">
            <div class="upload-wrap">
                <div class="upload">
                    <div class="image"></div>
                    <input type="file" id="image-upload" style="display:none"/>
                    <button class="menu-button upload_button" type="submit" onclick="redirect_func('/generator')">
                        <strong>Upload Image</strong>
                    </button>
                </div>
            </div>

            <div class="cards-wrap">
                <div class="cards">
                </div>
            </div>
        </main>

        {% include "sections/footer.html" with mode="visor" %}
        {% include "sections/scripts.html" %}
    </body>
</html>
